<!DOCTYPE html>
<html lang = "en">
<head>
  <title>Avsean's Portfolio</title>
</head>
<h1>Avsean's Portfolio - A Work in Progress</h1>

<form action="https://github.com/AvsCode"><button><img src="../images/GitHub" style="height:20px; width:40px"></img> My Github</button></form>
<br></br>
<form action="https://github.com/AvsCode/Portfolio"><button><img src="../images/GitHub-Mark" style="height:20px; width:20px"></img> This Repo</button></form>
<br></br>
<form action="http://leaguereact-env-avs.us-west-2.elasticbeanstalk.com/"><button>My League and React Site</button></form>

</html>
